body {
    width: 350px;
    height: 200px;
    padding: 10px 25px;
}

#countdown-seconds {
    border-style: solid;
    border-width: 2px;
    border-color: #EAEAEA;
}

table {
    border-spacing: 30px;
}

h2, p {
    color: #00af4e;
}

h2 {
    font-family: Copperplate, 'Copperplate Gothic Light', sans-serif;
}

h4 {
    size: 12pt;
}