body {

    background: #57616E;
    padding: 40px 70px;
    width: 700px;
    height: 500px;

}

container {
}

h1, h2, h3, h4, p {
    color: #E5E5E5;

}

h1, h2 {
    font-family: Copperplate, 'Copperplate Gothic Light', sans-serif;
}

button {
    width: 160px;
}

#activityImage {
    display: block;
    max-width: 75%;
    width: auto;
    height: auto;
}