body {

    background: #4E5E66;
    padding: 40px 70px;
    width: 700px;
    height: 500px;

}

container {



}

h1, h2, h3, h4, p {
    color: #E5E5E5;

}

h1, h2, h3, h4 {
    font-family: Copperplate, 'Copperplate Gothic Light', sans-serif;
}

button {
    width: 160px;
}