<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Stay Active</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link href="css/mainPage.css" rel="stylesheet" type="text/css">
</head>

<body ng-app="ActivityDisplay" ng-controller="ActivityController">

    <div class="container">
        <h1 class="text-center"><img src="img/biglogo.png" height="40" width="40">&nbsp;&nbsp;Stay Active</h1>
        <br />
        <br />
        <div class="row">
            <div class="col-md-5" style="background-color:">
               <p align="center">
                   <img id="activityImage" ng-src="{{activityImage}}">
                    <!--display the image from array -->
                </p>
            </div>
            <div class="col-md-7" style="background-color:">

                <h2><strong>{{activityName}}</strong></h2>
                <br />
                <h4>{{activityDescription}}</h4>
                <br />
                <p>{{activityFunFact}}</p>
            </div>

        </div>
        <br />
        <br />
        <div class="text-center">
            <button type="button" class="btn btn-success" data-dismiss="modal" id="finishActivityButton">Done</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="shuffleActivityButton" ng-click="shuffle()">Shuffle Activity</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal" id="closeWindowButton" ng-click="close()">I'm busy</button>
        </div>

    </div>

    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/lodash.js"></script>
    <script src="js/popup.js"></script>
    <!-- link to employee data
this adds a global variable named 'pawneeEmployees', which is an array of objects (see js/employees.js file)
-->
    <script src="js/activities.js"></script>
    <script src="js/mainPage.js"></script>
    <script src="js/page.js"></script>
</body>

</html>